pymongo==4.1.1
requests==2.27.1
click<=8.0.4
dnspython
bokeh
keybert
flair
transformers
seaborn
streamlit_authenticator
matplotlib==3.5.1
streamlit_authenticator
# spacy
# spacy_streamlit
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm